* {  

  

  box-sizing: border-box;  

  

  font-family: 'Montserrat', sans-serif;  

  

}  

  

   

  

img {  

  

  border-radius: 50%;  

  

  position: relative;  

  

  top: 30px;  

  

  left: 50px;  

  

   

  

   

  

   width: 250px;  

  

   height: 250px;  

  

    

  

}  

  

   

  

aside {  

  

  float : left;  

  

  margin : 5px;  

  

  width : 30%;  

  

}  

  

span {  

  

  display : inline-block;  

  

  color : #4B0082;  

  

  width : 10rem;  

  

}   

  

span2 {  

  

  display : inline-block;  

  

  color : #4B0082;  

  

  width : 20rem;  

  

}   

  

   

  

h1 {  

  

    

  

  color : #4B0082;  

  

  text-align : left;  

  

}  

  

h2 {  

  

    

  

  color : #4B0082;  

  

  text-align : left;  

  

}  

  

hr {  

  

  border-color : #4B0082;  

  

}  

  

p {  

  

  font-size : 12pt;  

  

}  

