* {  

  box-sizing: border-box;  

  font-family: 'Montserrat', sans-serif;  

 
 

}  

 
 

 
h1 {     

  color : #4B0082;  

  text-align : left;  

}  

 
 

h2 {     

  color : #4B0082;  

  text-align : left;  

}  

 
 

hr {  

  border-color : #4B0082;  

}  

h3 { 

  color: #C8C8C8 

} 

 
 

p {  

  font-size : 12pt;  

}  